header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}
.logo {
    padding: 0;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position-y: 5px;
    background-position-x: 20px;
    width: 162px;
    height: 60px;
}
